<main class="dashboard-page">
  <section class="dashboard-header">

    <div class="dashboard-heading">
      <div>
        <span class="company-type">
          {{ companyType | translate }}
        </span>

        <h1>
          {{ dashboardTitle | translate }}
        </h1>

        <p>
          {{ 'dashboard.welcome' | translate }}
          {{ store.currentEmail() }}
        </p>
      </div>

      <button
        mat-stroked-button
        type="button"
        (click)="performSignOut()">
        {{ 'dashboard.sign-out' | translate }}
      </button>
    </div>

  </section>
</main>
