<div class="container-with-spacing">

  <div class="header">
    <h1 class="title">
      {{ 'equipment.list-title' | translate }}
    </h1>

    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="navigateToNew()">
      {{ 'equipment.new' | translate }}
    </button>
  </div>

  @if (store.loading()) {
    <mat-spinner diameter="40"></mat-spinner>
  }

  @if (store.error()) {
    <mat-error>
      {{ store.error() }}
    </mat-error>
  }

  @if (!store.loading() && store.equipment().length === 0) {

    <p class="empty-state">
      {{ 'equipment.empty' | translate }}
    </p>

  } @else {

    <div class="table-container">

      <table
        mat-table
        [dataSource]="dataSource()"
        class="mat-elevation-z8"
        matSort
        matSortActive="code"
        matSortDirection="asc"
        matSortDisableClear>

        <ng-container matColumnDef="code">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
            {{ 'equipment.code' | translate }}
          </th>

          <td mat-cell *matCellDef="let equipment">
            {{ equipment.code }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
            {{ 'equipment.name' | translate }}
          </th>

          <td mat-cell *matCellDef="let equipment">
            {{ equipment.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
            {{ 'equipment.category' | translate }}
          </th>

          <td mat-cell *matCellDef="let equipment">
            {{ equipment.category?.name ?? '-' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
            {{ 'equipment.location' | translate }}
          </th>

          <td mat-cell *matCellDef="let equipment">
            {{ equipment.location }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
            {{ 'equipment.status' | translate }}
          </th>

          <td mat-cell *matCellDef="let equipment">
            {{
              (
                'equipment.status-values.' +
                equipment.status.toLowerCase()
              ) | translate
            }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns">
        </tr>

        <tr
          mat-row
          *matRowDef="
            let row;
            columns: displayedColumns
          ">
        </tr>

      </table>

      <mat-paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons>
      </mat-paginator>

    </div>

  }

</div>
